body {
    margin: 0;
    padding: 0;
    background-color: rgb(71, 71, 71);
    overflow: hidden;
}

.logo {
    width: 150px;
    object-fit: cover;
    height: 40px;
    margin: 8px;
}

.nav {
    padding: 0 !important;
    flex-direction: column;
    background-color: black;
}

.coloridinho {
    height: 10px;
    width: 100vw;
    object-fit: cover;
}

