/* html, body {
    height: 100%; 
    width: 100%; 
    overflow: hidden !important;
} */

.mainContainer {
    display: flex !important;
    align-items: center;
    justify-content: center;    
    height: 93vh !important;
    background-color: rgb(71, 71, 71);
    flex-wrap: wrap;
}

.box {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    width: 500px;
    height: 640px;
    flex-wrap: wrap;
    max-height: 85vh;
    padding-top: 10px;
    max-width: 95vw;
}

.inputBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    flex-wrap: wrap;
}

.inputStyle{
    padding: 7px;
    border-radius: 7px;
    width: 100%;
    max-width: 340px;
    background-color: rgb(71, 71, 71);
    border: none;
    /* border-bottom: solid 2px #18837e; */
}

.btGoToLogin
{
    margin-top: 20px;
    padding: 15px;
    border-radius: 20px;
    width: 65% !important;
    background-color: rgb(71, 71, 71);
    border: none;
    color: white;
    text-decoration: none;
    text-align: center;
}

.btGoToLogin:hover {
    background-image: url("../img/coloridinho.jpg");
    background-size: cover;
    filter: grayscale(50%);
}

.label {
    color: white;
    align-self: flex-start;
    margin: 10px;
}

.titleStyle{
    color: white;
    margin: 0;
}


.link {
    text-decoration: none;
    color: #007bc0;
}

.botao {
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: rgb(71, 71, 71);
    color: white;
    /* transition: ease-in-out 0.3s; */
}

.botao:hover {
    /* background-color: #9e2896; */
    background-image: url("../img/coloridinho.jpg");
    background-size: cover;
    filter: grayscale(50%);
}
